@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

/* GLOBAL */
*, *::before, *::after {
    font-family: 'Rajdhani', sans-serif;
    color:white;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* BODY & ROOT */
:root {
    --hue-neutral: 250;
    --hue-wrong:0;
    --hue-correct: 145;
}
body {
    background: none;
    overflow: hidden;
}
body.correct {
    --hue: var(--hue-correct);
}
body.wrong {
    --hue: var(--hue-wrong);
}

/* HEADER & NAV */
.header-container{
    position: absolute;
    min-height: 100px;
    width: 100vw;
    background-color:rgb(0, 0, 0);
    border-bottom: cyan 3px solid;
    z-index: 5;
}
header{
    color: white;
} 
#branding{
    position:relative;
    top: 10px;
    left: 30px;
    float:left;
}
h1{
    position: relative;
    font-size: 64px;
    font-style: italic;
    padding: 0;
    margin: 0;
}
header nav{
    background-color:black;
    float:right;
}
header a{
    position: relative;
    right: 50px;
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 52px;
}
header li{
    position: relative;
    top: 20px;
    left: 50px;
    display:inline;
    padding: 0 50px 0 20px;
    list-style-type: none;
}
header .highlight, header .current a
{
 color:white;
 font-weight:bold;
}
 header a:hover{
 color:#05f7ff;
 font-weight:bold;
}

/* SECTION: SHOWCASE */
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.showcase .overlay {
    position: absolute;
    top:0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}

/* SECTION: CONTACT FORM */
h2{
    position:absolute;
    top: 140px;
    left: 55px;
    z-index: 5;
    color: rgb(5, 255, 234);
    font-size: 44px;
}
.sendmail{
    position:absolute;
    top: 200px;
    left: 50px;
    display:flex;
    z-index: 3;
    width: 100%;
    height:50px;
    color: #ffffff;
    background: none;
    opacity: 0.9;
}
input[type="email"]{
    position: relative;
    left:5px;
    bottom: 30px;
    width: 260px;
    padding:4px;
    height: 40px;
    color:black;
    z-index: 5;
}
input[type="text"]{
    position: relative;
    right: 260px;
    top:50px;
    width: 260px;
    height: 100px;
    padding:4px;
    margin: 0;
    color:black;
    text-align: center;
}

/*  BUTTON: SEND */
.sendmail button{
    position: absolute;
    top:110px;
    width: 120px;
    height: 40px;
    left: 270px;
    font-size: 28px;
    border-color: rgb(234, 0, 255);
    background-color: black;
    color:cyan;
}

/* RESPONSIVENESS - MEDIA QUERIES */
@media (max-width: 768px){
header #branding {
    position:relative;
    right:100px;
    margin:0;
    float:none;
    text-align: center;
    width: 100%;
}
header h1 {
    position:relative;
    bottom: 10px;
    font-size:52px;
}
header nav,
header nav li
{
position: relative;
bottom: 20px;
left: 50px;
margin:0;
float:none;
text-align: center;
width: 100%;
min-height: 200px;
display:inline;
}
h2 {
    position:absolute;
    bottom: 10px;
    font-size:36px;
}
header a {
    font-size:28px;
}
input[type="email"]{
    position: relative;
    left:7px;
    top: 8px;
    width: 260px;
    padding:4px;
    height: 40px;
    color:black;
    z-index: 5;
}
input[type="text"]{
    position: absolute;
   left: 7px;
    margin: 0;
    color:black;
    text-align: center;
}}