@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

/* Global */
*, *::before, *::after {
    font-family: 'Rajdhani', sans-serif;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin:0;
    padding:0;
}


/* BODY & ROOT */
:root {
    --hue-neutral: 250;
    --hue-wrong:0;
    --hue-correct: 145;
}
body {
    background-color: yellow;
    overflow: hidden;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

/*---- HEADER & NAV - START ----*/
.header-container{
    position: absolute;
    min-height: 100px;
    width: 100vw;
    background-color:rgb(0, 0, 0);
    border-bottom: cyan 3px solid;
    z-index: 5;
}
header{
    color: white;
} 
#branding{
    position:relative;
    top: 10px;
    left: 30px;
    float:left;
}
h1{
    position: relative;
    font-size: 64px;
    font-style: italic;
    padding: 0;
    margin: 0;
}
h2{
    margin:0;
    font-size: 64px;
}
header nav{
    background-color: rgb(0, 0, 0);
    float:right;

}
header a{
    position: relative;
    right: 50px;
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 52px;
}

header li{
    position: relative;
    top: 20px;
    left: 50px;
    display:inline;
    padding: 0 50px 0 20px;
    list-style-type: none;
}

header .highlight, header .current a
{
 color:white;
}

 header a:hover
{
 color:#05f7ff;
}
/* HEADER & NAV - END */

/* SHOWCASE - START */

.showcase video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.showcase .overlay {
    position: absolute;
    top:0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}
/* SHOWCASE - END */

/* CONTAINER: QUESTIONS */
.container {
    position: relative;
    top: 200px;
    left: 550px;
    height: 400px;
    width: 800px;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    background-color: black;
    color:rgb(101, 255, 255);
    font-size: 3rem;
    text-align: center;
    
}
/* CONTAINER: TEXT */
#w-text {
    position: relative;
    left: 0px;
    padding-top: 0;
    z-index:10;
    font-size: 54px;
    text-align: center;
    color: white;
}
.btn-grid {
    display:grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 100px;
    margin: 20px 0;
}
.btn {
    width: 100%;
    --hue: var(--hue-neutral);
    border: 3px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 10px;
    font-size: 2.8rem;
    color:rgb(236, 248, 184);
}
.btn:hover {
    border-color: cyan;
}
.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}
.btn.wrong {
    --hue: var(--hue-wrong);
    color: white;
}
.start-btn, .next-btn {
    position: relative;
    top:50px;   
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 20px;
    height: 100px;
    z-index: 3;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display:none;
}

/* RESPONSIVENESS - MEDIA QUERIES */
@media (max-width: 768px){
    
    header #branding
{
    position:relative;
    right:100px;
    margin:0;
    float:none;
    text-align: center;
    width: 100%;
}

header h1 {
    position:relative;
    bottom: 10px;
    font-size:52px;
}

   header nav,
   header nav li
{
    position: relative;
    bottom: 20px;
    left: 50px;
    /* outline: auto; */
   margin:0;
   float:none;
   text-align: center;
   width: 100%;
   min-height: 200px;
   display:inline;
}
   header a {
    font-size:28px;
}


/* CONTAINER: QUESTIONS */

.container{
    /* outline: auto; */
    position: relative;
    
    left: 70px;
    top: 200px;
    height: 300px;
    width: 400px;
    font-size: 1.8rem;
    text-align: center;
}
.container h2 {
    font-size:24px;
}
.btn-grid {
    gap: 20px;
}

.btn {
    font-size: 32px;
}

}